---
import path from 'path'
import { Image } from 'astro:assets'
import { url } from '../../utils/url-utils'

interface Props {
  id?: string
  src: string
  class?: string
  alt?: string
  position?: string
  basePath?: string
}

const { id, src, alt, position = 'center', basePath = '/' } = Astro.props
const className = Astro.props.class

// Normalize src path by removing /src prefix if present
const normalizedSrc = src.startsWith('/src/') ? src.replace('/src/', '/') : src

const isLocal = !(
  src.startsWith('/') ||
  src.startsWith('http') ||
  src.startsWith('https') ||
  src.startsWith('data:')
)
const isPublic = src.startsWith('/')

let img
if (isLocal) {
  const files = import.meta.glob<ImageMetadata>('../../**', {
    import: 'default',
  })
  const normalizedPath = path
    .normalize(path.join('../../', basePath, normalizedSrc))
    .replace(/\\/g, '/')
  console.log('Normalized Path:', normalizedPath) // Debugging
  const file = files[normalizedPath]
  if (!file) {
    console.error(
      `\n[ERROR] Image file not found: ${normalizedPath.replace('../../', 'src/')}`,
    )
  } else {
    img = await file()
  }
}

const imageClass = 'w-full h-full object-cover'
const imageStyle = `object-position: ${position}`

---
<div id={id} class:list={[className, 'overflow-hidden relative']}>
  <div class="transition absolute inset-0 dark:bg-black/10 bg-opacity-50 pointer-events-none"></div>
  {isLocal && img && <Image src={img} alt={alt || ""} class={imageClass} style={imageStyle}/>}
  {!isLocal && <img src={isPublic ? url(normalizedSrc) : normalizedSrc} alt={alt || ""} class={imageClass} style={imageStyle}/>}
</div>